@import "assets/css/_variables.scss";

.home {
  min-height: 100vh;
  padding: 120px 100px;
  background-repeat: no-repeat;
  background-position: center top;
  background-image: url(../../assets/img/explore_bg.svg);

  .box {
    margin: 0 auto;
    width: 522px;
    border-radius: 20px;
    border: 1px solid #FDFFAC;
    background: #242926;
    text-align: center;
    font-weight: 600;
    padding: 2px 38px 36px;
  }

  .title {
    font-size: 24px;
    color: #A5FFBE;
    margin: 27px;
  }

  .select_box {
    width: 100%;
    height: 70px;
    border-radius: 12px !important;
    border: 1px solid #4B5954;
    background: linear-gradient(180deg, #242926 0%, #0E110F 100%);
    box-shadow: 0 0 0 6px #2A312D;
  }

  .switch_btn {
    margin: 0 auto;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid #A5FFBE;
    background: #151815;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    position: relative;
    cursor: pointer;
  }

  .select_nft {
    height: 160px;
    border-radius: 12px;
    border: 1px solid #3C5141;
    background: #1A1E1B;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 23px 0 40px;
    color: #A5FFBE;
    font-size: 18px;
    cursor: pointer;
  }
  .select_nft2 {
    border-radius: 12px;
    border: 1px solid #3C5141;
    background: #1A1E1B;
    padding: 10px;
    margin: 23px 0 40px;
    cursor: pointer;
    text-align: left;
  }

  .confirm_btn {
    width: 100%;
    height: 50px;
    border-radius: 8px;
    font-size: 20px;
  }
}

.modal_title {
  color: #76AB8B;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  margin-bottom: 8px;
}

.modal_content {
  border-radius: 10px;
  background: #1A1E1B;
  padding: 16px;
  max-height: 70vh;
  overflow: auto;
}

.modal_item {
  border-radius: 10px;
  background: #282D29;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.nft_img {
  width: 80px;
  height: 80px;
  border-radius: 4px;
  margin-right: 25px;
}

.nft_name {
  color: #EBEBEB;
  font-size: 18px;
  font-weight: 600;
}

.nft_active {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .nft_name {
    color: #A5FFBE;
  }
}

.nft_selection {
  color: #7A9283;
  font-size: 14px;
  font-weight: 600;
  margin-right: 20px;
}


.option_img {
  display: inline-block;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.option_name {
  margin-left: 19px;
  font-size: 20px;
}
.current_nft_box {
  display: flex;
  align-items: center;
}

.current_nft_img {
  width: 140px;
  height: 140px;
  border-radius: 7px;
  margin-right: 40px;
}
.current_nft_name {
  color: #EBEBEB;
  font-size: 18px;
  font-weight: 600;
}
.current_nft_fee {
  margin: 10px 0;
}
.fee_title {
  margin-right: 10px;
  color: #7A9283;
}
.fee_num {
  color: #A5FFBE;
}

@media #{$smWidth} {
  .home {
    width: 100%;
    padding: 16px;

    .box {
      width: 100%;
      padding: 0 10px 10px;
    }
    .title {
      margin: 20px;
    }
  }
  .nft_selection {
    display: none;
  }
  .current_nft_img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
  }
}