@import "assets/css/_variables.scss";

.home {
  min-height: 100vh;
  padding: 120px 100px;
  background-repeat: no-repeat;
  background-position: center top;
  background-image: url(../../assets/img/explore_bg.svg);

  .title {
    font-size: 48px;
    font-weight: 600;
  }

  .dis_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    background-color: #000;
    border-radius: 40px;
    height: 40px;
    color: #A5FFBE;
    padding: 0 17px;
    margin-top: 15px;
    font-size: 18px;
  }

  .text {
    color: #FF7D7D;
    font-size: 14px;
    margin-right: 9px;
  }

  .content {
    display: flex;
    flex-wrap: wrap;
    margin: 20px -10px;
  }

  .h5_hide {
    display: flex;
  }

  .h5_show {
    display: none;
  }
}

@media #{$smWidth} {
  .home {
    width: 100%;
    padding: 16px;

    .dis_box {
      width: auto;
    }

    .h5_hide {
      display: none;
    }

    .h5_show {
      display: flex;
    }
  }
}