@import "assets/css/_variables.scss";


.theme_mulit_btn {
  background: linear-gradient(90deg, #A5FFBE 0%, #55DD7B 100%);
  color: #213425 !important;
}
.page_home {
  width: 100%;
  font-family: 'Inconsolata';
  
}

.home_swiper,.home_swiper_h5 {
  position: relative;
  padding: 60px 100px;
  
  .swiper_bg {
    z-index: 1;
    position: absolute;
    inset: 0px 0px -1px;
    background-size: cover;
    transition: background 0.3s linear 0s;
  }
  .swiper_bg::after {
    backdrop-filter: blur(60px);
    background: linear-gradient(180deg, rgba(19, 19, 19, 0) 0%, #131313 100%);
    pointer-events: none;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
  }

  :global {
    .swiper-slide {
      padding: 20px 0px;
    }
    .swiper:hover {
      .swiper-button-next, .swiper-button-prev {
        display: flex;
      }
    }
    .swiper-button-next, .swiper-button-prev {
      display: none;
      width: 46px;
      height: 46px;
      border: 2px solid #EBEBEB;;
      border-radius: 50%;
      color: #fff;
      font-weight: 700;
      background: #131313;
    }
    
    .swiper-button-next:after, .swiper-button-prev:after {
      font-size: 18px;
    }
  }

  .swiper_cover {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    border: 1px solid #FDFFAC;
    box-shadow: 0px 4px 24px 1px rgba(253, 255, 172, 0.45);
    border-radius: 20px;
    overflow: hidden;
    img {
      position: absolute;
      width: 100%;
    }
  }
  .nft_name {
    font-size: 40px;
    font-weight: 600;
  }
  .nft_des {
    padding-right: 100px;
    font-size: 16px;
    line-height: 24px;
  }
  .mint_btn {
    position: absolute;
    bottom: 20px;
  }
}
.viewAll {
  display: block;
}
.viewAll_h5 {
  display: none;
}
.home_swiper_h5 {
  display: none;
}

.page_content {
  padding: 20px 100px;
  .page_content_title {
    padding-left: 10px;
    font-size: 30px;
    font-weight: 600;
  }
   .content {
    display: flex;
    flex-wrap: wrap;
    margin: 20px -10px;
  }
  .game_magic {
    padding: 200px 100px 60px 100px;
    border: 1px solid #4B5954;
    border-radius: 20px;
    background-image: url(../../assets/img/home/game_magic.png);
    background-repeat: no-repeat;
    background-size: cover;

    .title {
      font-size: 46px;
      font-weight: 700;
    }
    .btn_border {
      // height: 30px;
      margin: 20px 10px 20px 0;
      padding: 10px 20px;
      line-height: 10px;
      border-radius: 50px;
      border: 1px solid var(--line-color-2, #4B5954);
      background: #000;
      color: #A5FFBE;
    }
  }
}
.page_foot {
  position: relative;
  width: 100%;
  height: 500px;
  margin-top: 100px;
  padding: 0px 100px;
  background-position: center center;
  background-size: cover;

  .foot_content {
   position: absolute;
   top: -60px;
   left: 0;
   width: 100%;
   background: linear-gradient(180deg, #131313 26.04%, rgba(19, 19, 19, 0) 100%);
  }

  img {
    width: 100%;
  }
  .foot_title {
    font-size: 36px;
    font-weight: 600;
    text-align: center;
  }
  .learnMore_btn {
    width: 160px;
    background: #A5FFBE !important;
    color: #000000 !important;
  }
  .foot_show_box {
    display: block;
  }
  .foot_show_box_h5 {
    display: none;
  }
  .footShow {
    width: 80%;
  }
}


@media #{$smWidth} {
  .home_swiper {
    display: none;
    padding: 0;
  }
  .home_swiper_h5 {
    display: block;
    padding: 24px;

    .swiper_info {
      margin-top: 20px;
    }
    .nft_des {
      padding: 0;
    }
    .mint_btn {
      position: static;
      margin-top: 20px;
    }
  }
  .page_content {
    padding: 24px;
  }
  .viewAll {
    display: none;
  }
  .viewAll_h5 {
    display: block;
    text-align: center;
  }
  .page_foot {
    margin-top: 240px;
    padding: 0;
    height: 400px;

    .foot_content {
      top: -220px;
      padding: 0 24px;
    }
    .foot_show_box {
      display: none;
    }
    .foot_show_box_h5 {
      display: block;
    }
  }
}
