$contentMaxWidth: 1300px;
$linkColor: #845DA4;
$hr: 1px solid #dedede;
$headerHeight: 72px;
$headerHeightH5: 60px;
$sidebarWidth: 260px;
$smWidth: '(max-width: 768px)';
$multicolour:  linear-gradient(90deg, #A5FFBE 0%, #55DD7B 100%);
