$contentMaxWidth: 1300px;
$linkColor: #845DA4;
$hr: 1px solid #dedede;
$headerHeight: 60px;
$headerHeightH5: 60px;
$sidebarWidth: 260px;
$smWidth: '(max-width: 768px)';
$multicolour: linear-gradient(226.11deg, #5A50D0 0%, #5D4ADD 11.46%, #9F43D7 41.46%, #CF5A7C 66.48%, #EC811E 83.97%, #FFA858 97.92%);
